<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <h1>Password Reset</h1>
    <form id="resetPasswordForm" method="post" enctype="multipart/form-data">
        <input type="hidden" id="token" name="token" value="<%= token %>">
        <label for="newPassword">New Password:</label>
        <input type="password" id="newPassword" name="newPassword" required><br><br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
            <button type="submit">Reset Password</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const el = document.getElementById('resetPasswordForm')
       // const pass =  document.getElementById('newPassword')
  if(el){
    el.addEventListener('submit', function (e) {
        e.preventDefault(); // Prevent the default form submission
    
        const form = e.target;
       const token = document.getElementById('token')
       const newPassword = document.getElementById('newPassword')

      const body ={
        token:token.value,
        newPassword:newPassword.value
      }
    
        // Make a POST request using Axios
        axios.post('http://10.201.1.171:8000/users/resetPassword',body)
        .then(function (response) {
            // Handle the successful response from the API
        
            console.log(response)
              form.reset(); // Reset the form after successful submission
        })
        .catch(function (error) {
            // Handle any errors that occurred during the request
          
        });
    });
  
  }
    </script>

</body>
</html>
