<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Image</title>
</head>
<body>
    <img id="imageElement" src="" alt="Image" style="max-width: 100%;" />

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
      // Function to fetch JSON data and image using Axios
      async function fetchImageData() {
        try {
          const response = await axios.post('http://localhost:8000/blogs/blogsByCategory',{"category":"Sports and Fitness","offset":0}); // Replace with your API endpoint
          const Data = response.data;
          const data = Data.Data
          // Check if the response contains the image URL and other data
          if (data[0] && data[0].image) {
            // Set the src attribute of the <img> element to the image URL
            console.log(data)
            const imgElement = document.getElementById('imageElement');
            imgElement.src ='data:image/jpeg;base64,' + data[0].image;
          } else {
            console.error('Image data not found in the response.');
          }
        } catch (error) {
          console.error('Error fetching image data:', error);
        }
      }
  
      // Call the fetchImageData function when the page loads
      window.onload = fetchImageData;
    </script>
</body>
</html>