.main{
    width: 100vw;
}

.sub{
    margin-block: 8%;
    width:80%
}

.card{
    margin-top: 1rem;
}

.btn{
    color:  rgb(246, 162, 4);
}

.nav{
    z-index: 2;
}

#category{
    padding: 5px;
    border: 2px solid orange;
    border-radius: 5px;
}