
.nav{
    background-color: rgb(244, 187, 82);
    box-shadow: 5px 5px 15px rgb(74, 74, 74);
    position: fixed;
    top:0;
    width: 100vw;
    
    
    .Container{
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
        // margin-top: 50px;

        .sub-Container{
            display: flex;
            align-items: baseline;
            width: 720px;
            padding-top: 20px;

            .navbar-links{
                width: 55%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                list-style-type: none;
                text-decoration: none;
            }
        }

    }
}

.link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    h4{
        a:hover{
            color: white;
            cursor: pointer;
        }
    }
}


.user-img{
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
}

.user-profile{
    width: 220px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p{
        padding-top: 0.8rem;
    }
}

.user-details-container{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    column-gap: 30px ;
}

.user-profile-img{
    width: 200px;
}

.edit-btn{
    border: 2px solid rgb(230, 166, 48) ;
    padding: 10px;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

.edit-img-box{
    display: flex;
    justify-content: center;
    row-gap: 20px;
    flex-direction: column;
}

.btn{
    background-color: rgb(230, 166, 48) !important;
    color: black !important;
}